<h1>Trials</h1>
<%= link_to "Delete All", delete_all_admin_trials_path, :class => "section-link", :confirm => "Are you sure you would like to remove all data?" %>

<hr/>

<table cellspacing="10">
	<tr>
		<th>User Login ID</th>
		<th>Name</th>		
		<th></th>
	</tr>
	
	<% User.all.each do |user| %>
		<tr>
			<td><%= user.login_id %></td>
			<td><%= user.full_name %></td>
			<td><%= link_to "View Sessions", user_admin_trials_path( :user_id => user.id ) %></td>
		</tr>
	<% end %>
</table>