<div class='action-box'>
	<h1>Please Put Browser in Full Screen Mode</h1>
	<p>Some details on putting your browser in full screen mode.</p>
	
	<ul>
		<li>Instructions on putting browser in full screen mode.</li>
		<li>Press the 'F11' key</li>
		<li>etc</li>	
	</ul>
	
	<p class='next-link'>
		<%= link_to "Start Test", test_study_index_path %>
	</p>
</div>