<div class='action-box'>
<h1>ONLINE TASK</h1>

<%= form_tag( sign_in_study_index_path, :method => :post ) %>
	<p>Log in with your unique User ID</p>
	<p><%= text_field_tag( :login_id ) %></p>
	<% if @error %>
		<p><%= @error %></p>
	<% end %>
	<p><%= submit_tag( "Sign In" ) %></p>
</div>