<div class='action-box'>
	<h1>Instructions</h1>
	<p>Introduction text on the study. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget turpis velit, in varius arcu. Integer vitae eros et felis varius mattis et rhoncus risus. Phasellus venenatis hendrerit nulla nec iaculis. Phasellus nec nulla arcu, eu bibendum mi. Quisque erat elit, egestas ut vehicula sit amet, vehicula sollicitudin elit. Nulla facilisi. Nam ultrices, ipsum in sodales ornare, nisi erat fringilla lacus, ut interdum elit erat eget sapien.</p>
	
	<p class='next-link'>
		<%= link_to "Continue", full_screen_warning_study_index_path %>
	</p>
</div>