<div id='alert-box'>
</div>

<div id='keyboard-colors'>
	<%= image_tag "keyboard-colors.png", :width => 400 %>
</div>

<div id='study-box'>
	<p></p>	
</div>
<div id='focus-box'>
	<p>•</p>
</div>
<div id='message-box-practice' class='message-box'>
	<h1>Starting Practice Test</h1>
	<p>Practice test instructions</p>
	<p>Press the Spacebar to begin.</p>
</div>

<div id='message-box-real' class='message-box'>
	<h1>Starting Test</h1>
	<p>Test instructions</p>
	<p>Press the Spacebar to begin.</p>
</div>

<div id='message-box-finished' class='message-box'>
	<h1>Test Complete</h1>
	<p>Instructions on taking the next test.</p>
</div>

<div id='message-box-uploading' class='message-box'>
	<h1>Test Complete</h1>
	<p>Please wait while your results are submitted...</p>
</div>

<script type="text/javascript">
	var user_id = <%= @user.id %>; 
</script>