<div id='key-colors'>
    <p>Identify the color of the ink and ignore the name of the word.</p>
	<p>Press the S key for red, the F key for blue, the J key for green, L key for yellow</p>
</div>

<div id='study-box'>
	<p></p>	
</div>
<div id='focus-box'>
	<p>•</p>
</div>

<div id='alert-box'>
</div>


<div id='message-box-practice' class='message-box'>
	<p>It may take a bit of practice to remember which key corresponds to which ink color.</p>
	
	<p>On the next few screens, you will have the opportunity to practice the task.</p>
	
	<p>After pressing a key to identify the ink color, you will receive feedback on whether you were
	correct. If you find you are making lots of mistakes, you should slow down or make certain you
	understood which key goes with which ink color.</p>
	
	<p class='bold'>Remember, your task is to identify the ink color and ignore the word name.</p>
	
	<p class='bold'>Try to be as ACCURATE and fast as you can, without making too many mistakes.</p>
	
	<p>If the ink color is red, press the S key; for blue, press the F key; for green, press the J key, for
	yellow, press the L key.</p>
	
	Try to be as FAST and ACCURATE as you can.
	<p class='spacebar'>Press the space bar to start the first trial of the practice task.</p>
</div>

<div id='message-box-real' class='message-box'>
	<p>You are now ready to begin the online task!</p>
	
	<p>Again, your task is to classify, as quickly as possible, <span class='bold'>the ink color</span>, regardless of the word
	name.</p>
	
	<p class='bold'>Try to be as ACCURATE and fast as you can, without making too many mistakes.</p>
	
	<p>If the ink color is red, press the S key; for blue, press the F key; for green, press the J key, for
	yellow, press the L key.</p>
	
	<p class='spacebar'>Press the space bar to begin.</p>
</div>

<div id='message-box-finished' class='message-box'>
	<p>Thank you for completing the online task. Your contribution will greatly help us in
	understanding human information processing.</p>
	
	<p>Please remember to finish the task at the next allotted time.</p>
</div>

<div id='message-box-uploading' class='message-box'>
	<p>Please wait while your results are submitted. This may take several seconds...</p>
</div>



<script type="text/javascript">
	var user_id = <%= @user.id %>; 
</script>